* {   
    padding: 0;
    margin: 0;
}    
html {
	font-family: Tahoma;
	font-size: 16px;
}

.container {
	width: 100%;
	padding: 0 15px; 
}

.covid {
	text-align: center;
}

.covid p {
	 padding: 20px 0;
}

nav{
flex: 0 0 100%;
}

nav li{
	display:block;
	margin-left: 10px;
	text-align: center;
}

nav li:hover a{
	background-color: #333;
	border-radius: 5px;

}
nav li a{
	padding: 5px 10px;
}

.flex-wrapper{
	display: flex;
	align-items: center;
	min-height: 80px;
	flex-wrap: wrap;
	justify-content: center;
}
.logo{
	flex: 0 0 100%;
	display: flex;
	flex-basis: auto;
	align-items: center;
}
.logo p{
	margin-left: 5px;
}
.hero-flex{
	display: flex;
	min-height: 500px;
	flex-direction: column;
	justify-content: center;
	flex: 0;
}
.break{
	background-color: #fff;
	padding: 50px;
}
.button-link{
	width: 50px;
	text-align: center;
}
.hero-flex2{
	display: flex;
    flex-direction:column ;
	justify-content: center;
	flex: 0;
	min-height: 500px;
	float: right;
}

.hero-float{
	text-align: right;
}
.break2{
	background-color: #fff;
	padding: 50px;
}
.footer{
	min-height: 200px;
	padding:  20px;
}
.footer-p1{
	display: flex;
	justify-content: space-between;
	justify-content: center;
}
.footer-logo{
	display: flex;
	align-items: center;
}
.social-media{
	flex: 0 0 20%;
}
.footer-logo{
	flex: 0 0 50%;
}
.footer-text{
	text-align: center;
	margin-top: 100px;
}