.text-base {
	font-size: 1rem; 	
}

.text-lg {
	font-size: 1.125rem; 	

}

.text-white{
	color: white;
}

.covid {
	text-align: center;
}

.text-menu{
	font-size: 1rem;
}

.text-mc{
	color: white;
}

a {
	text-decoration: none;
}

.button-link{
	border: 1px solid white;
	border-radius: 5px;
	padding: 4px 15px;

}
.mb-1{
	margin-bottom: 1rem;
}
.mb-2{
	margin-bottom: 1rem;
}
.button-link2{
	width: 70px;
	border: 1px solid white;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 1rem;
	font-family: Tahoma;
	font-weight: 500;
	padding: 4px 15px;
}
.button-link2:hover{
	background-color: white;
	color: black;
}
.hero-float{
	text-align: right;
}
.text-red{
	color: #eb5757;;
}