.text-base {
	font-size: 1rem; 	
}

.text-lg {
	font-size: 1.125rem; 	
	padding-left: 5px;
}

.text-white{
	color: white;
}
.text-dark{
	color: #222;
}
.covid {
	text-align: center;
}

.text-menu{
	font-size: 1rem;
}

.text-mc{
	color: white;
}

a {
	text-decoration: none;
}

.button-link{
	border: 1px solid white;
	border-radius: 5px;
	padding: 4px 15px;
	width: 50px;

}
.mb-1{
	margin-bottom: 1rem;
	width: 30%;
}
.mb-2{
	margin-bottom: 1rem;
}
.button-link2{
	width: 70px;
	border: 1px solid white;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 1rem;
	font-family: Tahoma;
	font-weight: 500;
	padding: 4px 15px;
}
.button-link2:hover{
	background-color: white;
	color: black;
}
.hero-float{
	text-align: right;
}
.text-red{
	color: #eb5757;;
}
.section-title-text p {
	text-transform: uppercase;
}
.text-center{
	 text-align: center;
}
.button{
	background-color: #eb5757;
	border-radius: 5px;
	padding: 5px 15px;
	display: inline-block;

}
.button-covid p{
	font-size: 1.125rem;
}
.travel-details{
	text-align: center;
}
.travel-country{
	margin-top: 10px;
	margin-bottom: 6px;
	font-size: 1.25rem;
}
.travel-price{
	margin-bottom: 6px;
	
}
.all-travel-button{
	background-color: #222;
	padding: 5px 17px;
	border-radius: 5px;
}
.travel-button{
	text-align: center;
	margin-top: 55px;
}